<!DOCTYPE html>
<html>
<head>
  <title>Explore!</title>
</head>
<body>
<h1> Send a Gift </h1>
<form action="" method="POST">
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_test_66AlHqHMUTD3WyQvfr1IHHY7"
    data-amount="2000"
    data-name="Demo Site"
    data-description="2 widgets ($20.00)"
    data-image="/128x128.png"
    data-locale="auto">
  </script>
</form>
</body>
</html>
